/*
File contains admin styles
*/

/* Shows the same border as on front end */
#headimg h1 a {
	margin: 0;
	margin-left: 10px;
	text-decoration: none;
	letter-spacing: 0;
	font-weight: 600;
	font-size: 24px;
	font-family: 'Open Sans Bold', sans-serif;
}

#headimg #desc {
	margin: -20px 0 0 10px;
	font-size: 13px;
}