/*
File contains styles for IE lt 9
*/

/* 2.3 Add theme elements styles -----------*/

.round {
	behavior: url(../js/PIE.htc);
}

.shadow {
	box-shadow: 0px 1px 2px #e0e0e0;
	behavior: url(../js/PIE.htc);
}

#trvlplnt-slider {
	box-shadow: none;
}

/* 3.2 Main navigation ---------*/

#trvlplnt-nav-menu ul.sub-menu > li a {
	font-size: 0.9em;
}

#trvlplnt-nav-menu ul.sub-menu > li > a:hover {
	font-size: 0.9em;
}

#trvlplnt-nav-menu ul.sub-menu > li:last-child > a,
#trvlplnt-nav-menu ul.sub-menu > li:only-child > a {
	margin-bottom: -1px;
	border-bottom: 0px;
}

#trvlplnt-nav-menu ul.sub-menu > li:last-child > a:hover,
#trvlplnt-nav-menu ul.sub-menu > li:only-child > a:hover {
	margin-bottom: -4px;
	border-bottom: 0px;
}

#trvlplnt-nav-menu ul.sub-menu > li.page_item_has_children > a:hover {
	margin-bottom: 20px;
}

#trvlplnt-nav-menu ul li {
	z-index: 100;
}

/* 4.1 Global widgets style ------*/

div.widget {
	behavior: url(../js/PIE.htc);
}

h2.widgettitle {
	margin-top: 20px;
}

/* 4.2 Plastic slider widget style ------*/

.trvlplnt-slider {
	behavior: url(../js/PIE.htc);
}

.trvlplnt-slider-to-left,
.trvlplnt-slider-to-right {
	filter: alpha(Opacity=20); /*opacity for IE*/
}

.trvlplnt-slider-to-left:hover,
.trvlplnt-slider-to-right:hover {
	filter: alpha(Opacity=60); /*opacity for IE*/
}

.trvlplnt-slider-description {
	filter: alpha(Opacity=70); /*opacity for IE*/
}

/* 4.3 Search widget style ------*/

div.widget_search {
	box-shadow: none;
}

.search-box input.trvlplnt-search {
	padding: 15px 10px 5px 10px;
	behavior: url(../js/PIE.htc);
}

.search-box input.trvlplnt-search-button {
	behavior: url(../js/PIE.htc);
}

/* 5.3 List types ------*/

.trvlplnt-text dl dt,
.trvlplnt-text .gallery dl dt {
	font-size: 15px;
}

.trvlplnt-text dl dd,
.trvlplnt-text ol li,
.trvlplnt-text ul li {
	font-size: 13px;
}

/* 5.4 Form elements ------*/

.trvlplnt-text input[type=text],
.trvlplnt-text input[type=password],
.trvlplnt-text textarea,
.trvlplnt-text input[type="reset"],
.trvlplnt-text input[type="submit"] {
	behavior: url(../js/PIE.htc);
}

.trvlplnt-radio-item-container,
.trvlplnt-checkbox-item-container {
	display: inline; /*Only in IE*/
	zoom: 1; /*IE hasLayout*/
}

/* 5.4.2 Select box -------------- */

select {
	-ms-appearance: button; /* Internet Explorer */
	behavior: url(../js/PIE.htc);
}

.trvlplnt-select h3 {
	overflow: hidden;
	-ms-text-overflow: ellipsis;
}

div.trvlplnt-select {
	behavior: url(../js/PIE.htc);
}

/* 5.4.3 Fileload instrument styles -------------- */

.trvlplnt-fileload {
	behavior: url(../js/PIE.htc);
}

.trvlplnt-fileload-input {
	background: -ms-linear-gradient(top, #ffffff 0%, #eef2f4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef2f4', GradientType=0); /* IE6-8 */
}

.trvlplnt-fileload-browse {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	behavior: url(../js/PIE.htc);
}

.trvlplnt-fileload:active .trvlplnt-fileload-browse {
	behavior: url(../js/PIE.htc);
}